@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

head,html {
  padding:0;
  margin:0;
}

body {
  font-family: 'Playfair Display', serif;
}

   a {
    color: black;
    text-decoration: none;
  }

div {
      text-align: center;
}

#logo {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  border-bottom: 1.9px solid black;
  padding-bottom: 28px;
  padding-top: 3px;
}

#cart_mypage {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding-bottom: 3px;
}

#middlebar {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
  border-bottom: 1.9px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main {
  width: 100%;
  height: 50%;
  object-fit: cover;
  max-width: 100%;
  width: auto !important;
  height: auto !important:
}

.middlebar_property {
 border-right: 1.5px black solid;
 border-left: 1.5px black solid;
 padding-left: 30%;
 padding-right: 30%;
}
